<p style="color: green"><%= notice %></p>

<%= render @greeting %>

<div>
  <%= link_to "このメッセージを編集", edit_greeting_path(@greeting) %> |
  <%= link_to "一覧に戻る", greetings_path %>

  <%= button_to "このメッセージを削除", @greeting, method: :delete %>
</div>
